@font-face {
    font-family: notsans;
    src: url(../Resource/fonts/notosans-regular.2cb88a13.woff2);
}

.error{
    color: red;
}

.text-box{
    height: 26px;
    width: calc(99.4% - 8px) ;
    border: 1px solid #EBEBEB;
    padding: 4px;
    font-size: 14px;
    fill: #212121;
    overflow: auto;
    outline: none;
    border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input:focus{
    border: 1px solid #50B83C;
}


.selector{
    height: 36px;
    border: 1px solid #EBEBEB;
    padding: 4px;
    margin-top: 4px;
    fill: #212121;
    border-radius: 4px 4px 4px 4px;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
}

select:focus{
    border: 1px solid #50B83C;
}

.date-selector{
    height: 22px !important;
    padding: 0px;
    border: 1px solid black;
}

.inline-block{
    display: inline-block; 
}

body{
    margin: 0px;
    font-family: notsans;
}

.no-default{
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.b{
    font-weight: bold;
}

.row{
    width: 100%;
    overflow: hidden;
    margin-top: 16px;
}

.btn{
    height: 36px;
    padding: 8px 16px 8px 16px;
    font-size: 14px;
    font-weight:bold;
    border-radius: 4px 4px 4px 4px;
}

.btn-green{
    background-color: #50B83C;
    border: none;
    color: white;
}

.btn-normal{
    background-color: white;
    border: solid 1px #E6E6E6;
}

#add-new-employee-button{
    background-color: #50B83C;
    border: none;
    border-radius: 5px;
    font-weight:bold;
    color: white;
    font-size: 14px;
    padding: 12px 24px 12px 24px;
}