@font-face {
    font-family: notsans;
    src: url(../Resource/fonts/notosans-regular.2cb88a13.woff2);
}

.error{
    color: red;
}

.text-box{
    height: 24px;
    padding: 6px;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.selector{
    height: 28px;
    padding: 6px;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
}

.inline-block{
    display: inline-block; 
}

body{
    margin: 0px;
    font-family: notsans;
}

.no-default{
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.b{
    font-weight: bold;
}