#body-header{
    display: inline-block;
    width: 100%;
}

body{
    overflow: hidden;
}

#sidemenu{
    width: 200px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

#header{
    width: 100%;
    align-self: auto;
    height: 56px;
}

#content{
    width: 100%;
    display: inline-block;
    background-color: #F4F5F7;
}

#title-container{
    display: inline-block;
    margin: 0px;
}

#action-button-container{
    display: inline-block;
}

#button-container{
    display: inline-block;
    float: right;
    vertical-align: middle;
}

#add-new-employee-button{
    background-color: #2DA01E;
    border: none;
    border-radius: 5px;
    height: 32px;
    font-weight:bold;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 11px;
}

.input-container{
    border: solid 1px black;
    vertical-align: center;
    height: 36px !important;
}

#search-box{
    height: 36px !important;
    padding: 0;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#search-icon{
    float: right;
    margin-left: 8px;
}

#employee-table{
    width: calc(100% - 32px);
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0px;
    height: 24px !important;
}

#employee-table tr{
    border: solid 1px #E0E0E0;
    font-size: 8px;
    height: 24px;
    border-collapse: collapse;
}

#employee-table th{
    border: solid 1px #E0E0E0;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 8px;
    height: 24px;
    border-collapse: collapse;
}

#employee-table #table-header{
    width: 100%;
    background-color: #EDEEF1;
    border: black solid 1px;
}

#employee-table #column-checkbox-header{
    text-align: center;
    width: 3.5%;
    vertical-align: middle;
    font-weight: bold;
}

#employee-table #employee-code-header{
    text-align: left;
    width: 6.5%;
    vertical-align: middle;
    font-weight: bold;
}

#employee-table #employee-name-header{
    text-align: left;
    width: 10%;
    background-color: EDEEF1;
}

#employee-table #employee-gender-header{
    text-align: left;
    width: 7%;
}

#employee-table #employee-birthdate-header{
    text-align: center;
    width: 7%;
}

#employee-table #employee-social-id-header{
    text-align: left;
    width: 10%;
}

#employee-table #employee-title-header{
    text-align: left;
    width: 11%;
}

#employee-table #employee-unit-header{
    text-align: left;
    width: 12%;
}

#employee-table #employee-bank-numder-header{
    text-align: left;
    width: 7%;
}

#employee-table #employee-bank-name-header{
    text-align: left;
    width: 10%;
}

#employee-table #employee-bank-branch-header{
    text-align: left;
    width: 10%;
}

#employee-table #employee-option-header{
    text-align: center;
    width: 7%;
}

#employee-table #column-checkbox{
    text-align: center;
    width: 3.5%;
    vertical-align: middle;
    font-weight: bold;
}

#employee-table #employee-code{
    text-align: left;
    width: 6.5%;
    vertical-align: middle;
    font-weight: bold;
}

#employee-table #employee-name{
    text-align: left;
    width: 10%;
    background-color: EDEEF1;
}

#employee-table #employee-gender{
    text-align: left;
    width: 7%;
}

#employee-table #employee-birthdate{
    text-align: center;
    width: 7%;
}

#employee-table #employee-social-id{
    text-align: left;
    width: 10%;
}

#employee-table #employee-title{
    text-align: left;
    width: 12%;
}

#employee-table #employee-unit{
    text-align: left;
    width: 12%;
}

#employee-table #employee-bank-numder{
    text-align: left;
    width: 7%;
}

#employee-table #employee-bank-name{
    text-align: left;
    width: 10%;
}

#employee-table #employee-bank-branch{
    text-align: left;
    width: 10%;
}

#employee-table #employee-option{
    text-align: center;
    width: 7%;
}

#detail-dialog{
    padding: 24px;
}

#detail-dialog #is-customer{
    display: inline-block;
}

#detail-dialog #is-provider{
    display: inline-block;
}

#detail-dialog #dialog-detail-header{
    display: inline-block;
}

#detail-dialog{
    display: inline-block;
}

#dialog-employee-code{
    display: inline-block;
}

#dialog-employee-name{
    display: inline-block;
}

#detail-dialog{
    z-index: 100;
    background-color: white;
    border: 1px solid black;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

#dialog-body-upper-right{
    display: inline-block;
}

#dialog-body-upper-left{
    display: inline-block;
}

#dialog-employee-department{
    display: inline-block;
    width: 366px;
}

#dialog-employee-department select{
    width: 366px;
}

#dialog-employee-code input{
    border-color: solid 1px green;
}

#dialog-detail-header p{
    font-size: 20px;
    font-weight: bold;
}

#birthdate-select{
    width: 200px;
}


#dialog-employee-title input{
    width: 358px;
}

.header-container{
    background-color: white;
}

#table-contaniner{
    background-color: white;
}