.side-menu {
    display: table-cell;
    vertical-align: top;
    width: 200px;
    background-color: #0D0833;
    font-weight: bold;
    height: 1007px;
}

#side-menu-container {
    vertical-align: top;
}

.side-menu a:link {
    text-decoration: none;
}

.side-menu a:visited {
    text-decoration: none;
}

.side-menu a:hover {
    text-decoration: none;
}

.side-menu a:active {
    text-decoration: none;
}

.side-menu a {
    color: white;
    display: block;
}

.side-menu-text {
    height: 24px;
    top: -5px;
    position: relative;
    ;
}

#side-menu a {
    height: 36px;
}

.side-menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container{
    width: calc(100% - 204px);
}

#menu-company-icon{
    height: 56px !important;
}