<!DOCTYPE html>
<html>
<header>
    <script src="/library/jquery-3.6.1.js"></script>
    <link rel="stylesheet" href="../Css/Common.css">
    <link rel="stylesheet" href="../Css/Employee.css">
</header>

<body>
    <div>
        <div id="body-header">
            <div id="title-container">
                <h1>Nhân viên</h1>
            </div>
            <div id="button-container">
                <button id="add-new-employee-button">Thêm mới nhân viên</button>
            </div>
        </div>
        <div>
            <div id="action-button-container">
                <div id="input-container">
                    <input type="text" id="search-box" placeholder="Tìm theo mã, tên nhân viên">
                    <div id="search-icon" class="search-icon" style="color:blue"></div>
                </div>
                <div id="refresh-button-container">
                    <i class="refresh-icon"></i>
                </div>
            </div>
            <div id="body-main">
                <table id="employee-table">
                    <tr id="table-header">
                        <th id="column-checkbox-header"><input type="checkbox"></th>
                        <th id="employee-code-header">MÃ NHÂN VIÊN</th>
                        <th id="employee-name-header">TÊN NHÂN VIÊN</th>
                        <th id="employee-gender-header">GIỚI TÍNH</th>
                        <th id="employee-birthdate-header">NGÀY SINH</th>
                        <th id="employee-social-id-header">SỐ CMND</th>
                        <th id="employee-title-header">CHỨC DANH</th>
                        <th id="employee-unit-header">TÊN ĐƠN VỊ</th>
                        <th id="employee-bank-numder-header">SỐ TÀI KHOẢN</th>
                        <th id="employee-bank-name-header">TÊN NGÂN HÀNG</th>
                        <th id="employee-bank-branch-header">CHI NHÁNH TK NGÂN HÀNG</th>
                        <th id="employee-option-header">CHỨC NĂNG</th>
                    </tr>
                    <tr id="row-1">
                        <th id="column-checkbox"><input type="checkbox"></th>
                        <th id="employee-code">MÃ NHÂN VIÊN</th>
                        <th id="emplouee-name">TÊN NHÂN VIÊN</th>
                        <th id="employee-gender">GIỚI TÍNH</th>
                        <th id="employee-birthdate">NGÀY SINh</th>
                        <th id="employee-social-id">SỐ CMND</th>
                        <th id="employee-title">CHỨC DANH</th>
                        <th id="employee-unit">TÊN ĐƠN VỊ</th>
                        <th id="employee-bank-numder">SỐ TÀI KHOẢN</th>
                        <th id="employee-bank-name">TÊN NGÂN HÀNG</th>
                        <th id="employee-bank-branch">CHI NHÁNH TK NGÂN HÀNG</th>
                        <th id="employee-option">CHỨC NĂNG</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>