<!DOCTYPE html>
<html>

<head>
    <script src="../Library/jquery-3.6.1.js"></script>
    <script src="../Library/jquery-3.6.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"
        integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Css/Common.css">
    <link rel="stylesheet" href="../Css/Employee.css">
    <link rel="stylesheet" href="../Css/Spacing.css ">
    <link rel="stylesheet" href="../Css/icon.css ">
</head>

<body>
    <div>
        <div class="inline-block" id="side-menu-container">
            <div id="sidemenu"></div>
        </div><div class="inline-block content-container">
            <div class="header-container">
                <div id="header"></div>
                <div id="content">
                    <div id="body-header">
                        <div id="title-container">
                            <h1 class="ml-16">Nhân viên</h1>
                        </div>
                        <div id="button-container">
                            <button id="add-new-employee-button" onclick="addNewOnClick()">Thêm mới nhân viên</button>
                        </div>
                    </div>
                    <div class="ml-24 mr-24" id="table-contaniner">
                        <div id="action-button-container">
                            <div class="input-container inline-block">
                                <span>
                                    <input type="text" id="search-box" placeholder="Tìm theo mã, tên nhân viên">
                                    <div id="search-icon" class="search-icon"></div>
                                </span>
                            </div>
                            <div id="refresh-button-container" class="inline-block ml-8">
                                <div id="refresh-icon" class="refresh-icon"></div>
                            </div>
                        </div>
                        <div id="body-main">
                            <table id="employee-table">
                                <div id="table-header-container">
                                    <tr id="table-header">
                                        <th id="column-checkbox-header"><input type="checkbox"></th>
                                        <th id="employee-code-header" title="Mã nhân viên">MÃ NHÂN VIÊN</th>
                                        <th id="employee-name-header" title="Tên nhân viên">TÊN NHÂN VIÊN</th>
                                        <th id="employee-gender-header" title="Giới tính">GIỚI TÍNH</th>
                                        <th id="employee-birthdate-header" title="Ngày sinh">NGÀY SINH</th>
                                        <th id="employee-social-id-header" title="Số chứng minh nhân dân">SỐ CMND</th>
                                        <th id="employee-title-header" title="Chức danh">CHỨC DANH</th>
                                        <th id="employee-unit-header" title="Tên đơn vị">TÊN ĐƠN VỊ</th>
                                        <th id="employee-bank-numder-header" title="Số tài khoản">SỐ TÀI KHOẢN</th>
                                        <th id="employee-bank-name-header" title="Tên ngân hàng">TÊN NGÂN HÀNG</th>
                                        <th id="employee-bank-branch-header" title="Chi nhánh tài khoản ngân hàng">CHI NHÁNH TK NGÂN HÀNG</th>
                                        <th id="employee-option-header" title="Chức năng">CHỨC NĂNG</th>
                                    </tr>
                                </div>
                            </table>
                        </div>
                    </div>
                    <div id="detail-dialog">
                        <div>
                            <div id="dialog-detail-header">
                                <p>Thông tin nhân viên </p>
                            </div>
    
                            <div id="is-customer" class="ml-8">
                                <input type="checkbox"> Là khách hàng
                            </div>
                            <div id="is-provider" class="ml-8">
                                <input type="checkbox">Là nhà cung cấp
                            </div>
                            <div class="icon-help">
    
                            </div>
                            <div class="icon-close">
    
                            </div>
                        </div>
                        <div id="dialog-body">
                            <div id="dialog-body-upper">
                                <div id="dialog-body-upper-left">
                                    <div class="row">
                                        <div id="dialog-employee-code">
                                            <label>Mã <span class="error">*</span></label><br />
                                            <input class="text-box" type="text">
                                        </div>
                                        <div id="dialog-employee-name" class="ml-8">
                                            <label>Tên <span class="error">*</span></label><br />
                                            <input class="text-box" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="dialog-employee-department">
                                            <label>Đơn vị <span class="error">*</span></label><br />
                                            <select class="selector" id="department-select"></select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="dialog-employee-title">
                                            <label>Chức danh</label><br />
                                            <input class="text-box" id="textbox-title" type="text">
                                        </div>
                                    </div>
                                </div>
                                <diV id="dialog-body-upper-right" class="ml-32">
                                    <div class="row">
                                        <div id="dialog-employee-birthdate" class="inline-block">
                                            <label>Ngày sinh</label><br />
                                            <select class="selector" id="birthdate-select"></select>
                                        </div>
                                        <div id="dialog-employee-department" class="inline-block">
                                            <label class="">Giới tính</label><br />
                                            <input class="inline-block" type="radio">Nam
                                            <input class="inline-block" type="radio">Nữ
                                            <input class="inline-block" type="radio">Khác
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="dialog-employee-social-id" class="inline-block">
                                            <label>Số CMND</label><br />
                                            <input class="text-box " type="text">
                                        </div>
                                        <div class="inline-block">
                                            <label>Ngày cấp</label><br />
                                            <input class="text-box" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="dialog-employee-title">
                                            <label>Nơi cấp</label><br />
                                            <input class="text-box" type="text">
                                        </div>
                                    </div>
                                </diV>
    
                            </div>
                            <div id="dialog-budy-under">
    
                            </div>
                        </div>
                        <div id="dialog-footer">
    
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div id="footer"></div>
        <script lang="javascript" src="../Script/employee.js"></script>
    </div>
</body>

</html>